:root {
    --primary-color: #9b59b6;   /* morado */
    --secondary-color: #ffffff; /* blanco */
    --bg-color: #1c003e;        /* fondo oscuro violeta */
}

body {
    margin: 0;
    font-family: 'Arial', sans-serif;
    background-color: var(--bg-color);
    color: var(--secondary-color);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 100vh;
    padding: 2em;
}

/* Encabezado HSKULL55 con borde negro */
header h1 {
    font-size: 6em;
    text-transform: uppercase;
    color: var(--primary-color);
    -webkit-text-stroke: 2px black; /* borde negro */
    margin: 0 0 1em 0;
}

/* Párrafos normales sin sombra */
header p {
    font-size: 1.5em;
    margin: 0.5em 0;
    line-height: 1.5;
    color: var(--secondary-color);
}
